<header>
    <h1>Create Account</h1>
</header>>

<form>
    <label>Email:</label>
    <input type="text" id = "email" placeholder="email" name="email" required/>
    <label>Password:</label>
    <input type="password" id = "password" placeholder="password" name="password" required/><br>
    <label>Height:</label>
    <input type="text" id = "height" placeholder="height" name="height" required/><br>
    <label>Weight:</label>
    <input type="text" id = "weight" placeholder="weight" name="weight" required/><br>
    <a button routerLink = "login">Submit</a>
</form>
