

ngb-datepicker{
  background-color: white;
}

#friendlist{
  background-color: blue;
}

#friends{
  color: blue;
  background-color: white;
}
#friend{
  color: blue;
  background-color: white;
}

#profile{
  color: white;
  background-color: blue;
}
