<app-meal></app-meal>
<div class="container">
  <div class="row">
    <div class="col">
      <ngb-datepicker
        #datepicker
        [(ngModel)]="date"
      >
      </ngb-datepicker>
    </div>
    <div class="col">
      <div class="card" *ngFor="let meal of meals">
        <div class="card-body">
          <h5 class="card-title">{{meal.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{meal.calories}} Calories</h6>
          <p class="card-text">{{meal.description}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>Friends List</h3>
      <ul>
        <li *ngFor="let friend of friends">
          <span>{{friend.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
